
@{
    ViewBag.Title = "Failure";
    Layout = "~/Views/Shared/Client_LayoutPage.cshtml";
}

<br />
<br />
<h3 style="text-align: center; color: red">----------- PAYMENT FAIL --------------</h3>
<br />
<br />
<br />

