
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/Client_LayoutPage.cshtml";
}
<br />
<br />
<h3 style="text-align: center; color: green">----------- PAYMENT SUCCESSFULLY --------------</h3>
<br />
<br />
<br />
<a href="@Url.Action("CustomerHistory", "Home")"> Go to Customer History</a>


