
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/Client_LayoutPage.cshtml";
}
<h3>----------- PAYMENT SUCCESSFULLY --------------</h3>
<br />
<br />
<br />
<a href="@Url.Action("CustomerHistory", "Home")"> Go to Customer History</a>


