
@{
    ViewBag.Title = "PolicyDueReport";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
}

<div class="container">
    <div class="col-md-6">
        <label>Current Date</label>
        <input type="date" class="form-control" />
    </div>
</div>

<hr />
<h3>Policy Due Renewals</h3>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Custome Policy ID</th>
                <th>Policy Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>sdfs</th>
                <th>sdfsf</th>
                <th>sdfs</th>
                <th>sdfs</th>
                <th><button class="btn btn-block btn-success">Detail</button></th>
            </tr>
        </tbody>
    </table>
</div>

<hr />
<h3>Policies Lapsed</h3>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Custome Policy ID</th>
                <th>Policy Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>sdfs</td>
                <td>sdfsf</td>
                <td>sdfs</td>
                <td>sdfs</td>
                <td><button class="btn btn-block btn-success">Detail</button></td>
            </tr>
        </tbody>
    </table>
</div>
