@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Client_LayoutPage.cshtml";
}
<div class="breadcrumbs">
    <div class="container">
        <a href="index.html">Home</a>
        <span>About Us</span>
    </div>
</div>

<div class="page">
    <div class="fullwidth-block">
        <div class="container">
            <h1 class="entry-title">Why you should choose us?</h1>
            <p>The quality of our service is based on our well-trained, professional staff and our serious, conscientious attitude with clients. Each of our customer service representatives is a licensed insurance agent and we continue our education to endeavor to stay aware of the latest trends, coverages, and techniques. We're involved in our communities and we deliberately organized ourselves to provide the most freedom to our clients. </p>

            <div class="features">
                <div class="feature-numbered">
                    <div class="num">1</div>
                    <h2 class="feature-title">Reasonable Price</h2>
                    <p> Proin tempus velit dui eu lobortis justo laoreet nec phasellus luctus elit neque eu aliquam velit dignissim donec porttitor.</p>
                </div>
                <div class="feature-numbered">
                    <div class="num">2</div>
                    <h2 class="feature-title">24/7 Support</h2>
                    <p> Proin tempus velit dui eu lobortis justo laoreet nec phasellus luctus elit neque eu aliquam velit dignissim donec porttitor.</p>
                </div>
                <div class="feature-numbered">
                    <div class="num">3</div>
                    <h2 class="feature-title">Attractive Insurance Plan</h2>
                    <p> Proin tempus velit dui eu lobortis justo laoreet nec phasellus luctus elit neque eu aliquam velit dignissim donec porttitor.</p>
                </div>
                <div class="feature-numbered">
                    <div class="num">4</div>
                    <h2 class="feature-title">Peace Of Mind</h2>
                    <p> Proin tempus velit dui eu lobortis justo laoreet nec phasellus luctus elit neque eu aliquam velit dignissim donec porttitor.</p>
                </div>
            </div>
        </div> <!-- .container -->
    </div> <!-- .fullwidth-block -->

    <div class="fullwidth-block" data-bg-color="#f1f1f1">
        <div class="container">
            <h2 class="section-title">The history</h2>
            <p>Acme Insurance was founded as a sole proprietorship in 1938 and was owned and operated by the founder Stan Smith. He originally ran the operation from his home, but moved to the business section of Smalltown when he outgrew his home based operation. </p>

            <p>In 1972, the company constructed a new office building in the main business section and over the course of the last 15 years has purchased four other brokerages, one of which led to the establishment of our branch office in Nexttown. </p>

            <p>In 1988, a new company was formed “Acme Insurance Inc.” which bought the insurance business from “Acme Insurance Limited.” All shares in the new company are owned by John S. Smith and Peter Smith. </p>
            <p>Today, the fourth generation of Smiths, Stephen and Jason Smith, are working in the firm. We are also gratified to report that our founder, Stan Smith, is still in our office every day, and although still licensed, he is only active in a “goodwill ambassador” capacity.</p>
        </div> <!-- .container -->
    </div> <!-- .fullwidth-block -->

    <div class="fullwidth-block">
        <div class="container">
            <h2 class="section-title">Our Team</h2>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="team">
                        <figure class="team-image"><img src="~/Content/CustomResource/ClientResource/images/member1.jpg" alt=""></figure>
                        <h2 class="team-name">Itadori Yuuji</h2>
                        <small class="team-title">CEO</small>
                        <div class="social-links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div> <!-- .team -->
                </div> <!-- .col-md-3 -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="team">
                        <figure class="team-image"><img src="~/Content/CustomResource/ClientResource/images/member2.jpg" alt=""></figure>
                        <h2 class="team-name">Gojou Satoru</h2>
                        <small class="team-title">Managing Director</small>
                        <div class="social-links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div> <!-- .team -->
                </div> <!-- .col-md-3 -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="team">
                        <figure class="team-image"><img src="~/Content/CustomResource/ClientResource/images/member3.jpg" alt=""></figure>
                        <h2 class="team-name">Kugisaki Nobara</h2>
                        <small class="team-title">Public Relation</small>
                        <div class="social-links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div> <!-- .team -->
                </div> <!-- .col-md-3 -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="team">
                        <figure class="team-image"><img src="~/Content/CustomResource/ClientResource/images/member4.jpg" alt=""></figure>
                        <h2 class="team-name">Fushiguro Megumi</h2>
                        <small class="team-title">Consultant</small>
                        <div class="social-links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div> <!-- .team -->
                </div> <!-- .col-md-3 -->
            </div> <!-- .row -->
        </div> <!-- .container -->
    </div> <!-- .fullwidth-block -->
</div> <!-- .page -->