
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/Client_LayoutPage.cshtml";
}


<div class="container">
    <h2>Change Password</h2>
    <form method="post" action="@Url.Action("UpdatePassword")">
        <div style="margin-top: 20px">
            <label for="username">Username: </label>
            <input type="text" value="@Session["username"]" class="form-control" id="username" name="username" />
        </div>
        <div style="margin-top: 20px">
            <label for="oldPassword">Old Password: </label>
            <input type="password" class="form-control" id="oldPassword" name="oldPassword" />
        </div>
        <div style="margin-top: 20px">
            <label for="newPassword">New Password: </label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" />
        </div>
        <div style="margin-top: 20px">
            <label for="reNewPassword">Re-Enter New Password: </label>
            <input type="password" class="form-control" id="reNewPassword" name="reNewPassword" />
        </div>
        <div style="margin-top: 20px">
            <div class="p-3 mb-2" style="color: red;">
                @if (ViewBag.Alert != null)
                {
                    @ViewBag.Alert
                }
            </div>
            <button type="submit" class="btn btn-primary">Confirm</button>
        </div>

    </form>
</div>

