
@{
    ViewBag.Title = "ConvertPassword";
    Layout = "~/Views/Shared/Client_LayoutPage.cshtml";
}

<h2>ConvertPassword</h2>
<form action="Convert" method="post">
    <input id="password" name="password" type="text" />
    <button type="submit">convert</button>
</form>

@if (ViewBag.result != null)
{
    <input id="result" type="text" value="@ViewBag.result"/>

}


