
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/Client_LayoutPage.cshtml";
}

<div class="hero hero-slider">
    <ul class="slides">
        <li data-bg-image="@Url.Content("~/Content/CustomResource/ClientResource/dummy/slide01.jpg")">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title">Get your <strong>Life Insurance</strong></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quos cumque odio soluta harum error sequi laudantium, est nam perspiciatis eveniet maxime, esse possimus architecto sunt natus reprehenderit debitis fugit.</p>
                    <a href="#" class="button">Get a quote</a>
                </div>
            </div>
        </li>
        <li data-bg-image="@Url.Content("~/Content/CustomResource/ClientResource/dummy/slide02.png")">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title">Get your <strong>Life Insurance</strong></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quos cumque odio soluta harum error sequi laudantium, est nam perspiciatis eveniet maxime, esse possimus architecto sunt natus reprehenderit debitis fugit.</p>
                    <a href="#" class="button">Get a quote</a>
                </div>
            </div>
        </li>
        <li data-bg-image="@Url.Content("~/Content/CustomResource/ClientResource/dummy/slide04.jpg")">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title">Get your <strong>Life Insurance</strong></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quos cumque odio soluta harum error sequi laudantium, est nam perspiciatis eveniet maxime, esse possimus architecto sunt natus reprehenderit debitis fugit.</p>
                    <a href="#" class="button">Get a quote</a>
                </div>
            </div>
        </li>
    </ul>
</div> <!-- .hero-slider -->
