
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <button id="btnGenerate" class="btn btn-primary">Load Report</button>
    </div>
    <div class="col-md-4">
        
    </div>

</div>
<div class="row" id="divReport">

</div>

<script>
    $("#btnGenerate").click(function () {

    });
</script>
